nav > ul{
    display: flex;
}
nav li{
    list-style: none;
    margin-right: 10px;
    padding: 10px;

}
nav li a{
    text-decoration: none;
    color: black;

}
nav li:hover{
    background-color: aquamarine;
}
/* nested menu style */
 nav li .dropdown{
    display: none;
    position: absolute;
    background-color: lightgray;
    padding-left: 10px;
 }

 nav li:hover > .dropdown{
    display: block;

 }